<!-- I write HTML codes here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List App</title>
</head>
<body>
    <div class="todo-list">

        <h1 style="color:black;">ToDo List <br> <%= todaynow %> </h1>

        <ul>
            <li id="items"> </li>
            <li id="items">Rice</li>
            <li id="items">Fish</li>
            <li id="items">Ramen</li>
        </ul>

        <form action="/" method="post">
            <input type="text" name="item" id="post-item">
            <button>Add</button>
        
        </form>
    </div>

  
</body>
</html>